/* estilos.css */
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fcebd6;
  color: #4e2e2e;
  margin: 0;
  padding: 0 20px;
}

header {
  background-color: #d98b5f;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

h1, h2 {
  color: #8b5c4e;
}

nav {
  background-color: #ffd3b6;
  padding: 10px;
  margin: 20px auto;
  text-align: center;
  border-radius: 8px;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #5c3d2e;
  font-weight: bold;
}

nav a:hover {
  color: #a0522d;
}

.footer {
  margin-top: 40px;
  text-align: center;
  font-size: 0.9em;
  color: #a88c8c;
  padding: 20px;
  background-color: #fcebd6;
}/*api whatsapp*/
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.whatsapp-icon {
  width: 40px;
  height: 40px;
}
